.Water{
    height: 8vh;
    display: flex;
    margin-top: 5px;
    margin-left: 40px;
    justify-content: flex-start;
    align-items: center;
}
.Water__water{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.Water__water > h2 {
    position: absolute;
    font-size: 4em;
}

.Water__water > h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke: 2px white  ;
}
.Water__water.active > h2:nth-child(1){
    -webkit-text-stroke: 2px #2375BB  ;
}
/* 2375BB */
.Water__water > h2:nth-child(2){
    color:#2375BB;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,100%{
        clip-path: polygon(0 55%, 14% 41%, 28% 35%, 40% 38%, 54% 48%, 65% 56%, 78% 59%, 91% 53%, 100% 41%, 100% 100%, 0% 100%, 0 77%);
    }

    50%{
        clip-path: polygon(0 51%, 11% 65%, 25% 72%, 39% 73%, 51% 65%, 60% 58%, 71% 51%, 83% 43%, 100% 41%, 100% 100%, 0% 100%, 0 77%);
    }
}